.input-group{
  width:30%;
}

.div_datepicker{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

.fechas-peticiones{
  padding-top: 40px;
}

.input-group {
    width: 55%;
}
