.configuracionForm{
  max-width: 480px;
  background-color:#fff;
  margin:auto;
  margin-top:20px;
  padding: 26px 24px 46px;
  font-weight: 400;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.mensaje{
  margin-top:10px;

  a{
    color:#29292c;

    &:hover{
      color:#ccc;
    }
  }
}
