input[type=text], input[type=password], select,textarea {
    width: 100%;
    font-family: Montserrat,Arial,Sans-Serif;
    font-size: 14px;
    background: #F5F5F5;
    border: 2px solid #F5F5F5;
    padding: 14px 18px;
    -webkit-transition: border-color .2s ease-in;
    -moz-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
    margin-top: 10px;
  }

  select{
    height: 50px;
  }


  input[type=submit]{
    background-color: black;
    color: #fff;
  }

  input[type='text'][disabled]{
    background-color: #ccc;
  }

  .form-control {
    display: block;
    width: 100%;
    height: inherit;
    line-height: none;
    box-shadow: none;
 }
 .control-label{
   margin-top: 20px;
 }

  .alert-warning {
    padding:20px;
  }

  .alert-info {
    padding:20px;
  }

  .error-form {
    border:2px solid red !important;
    outline: 0;
  }

  .btn:hover, .btn:focus, .btn.focus {
  color: #fff;
  text-decoration: none;
}


#cambiar_contrasena {
  margin-top: 20px;
}
