.loginForm{
    max-width: 480px;
    background-color:#fff;
    margin:auto;
    margin-top:200px;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    margin-bottom: 10px;
}

.logos{
  margin-top:30px;
}
#login {
  margin-top: 20px;
}
